.list-header {
  padding: 8px 0;
  h2 {
    width: 90%;
  }
}
.list-item {
  background-color: white;
  padding: 8px 0;
  border-bottom: 1px solid #999999;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 12px;
    margin: 0;
    color: $milyst-light-gray;
  }
  h4 {
    color: $dark-gray;
    font-size: 20px;
    margin-bottom: 0;
    &:hover {
      color: $milyst-blue;
    }
  }
}
