.create-btn {
  border-radius: 50px;
  border: none !important;
  padding: 8px 16px;
  color: white;
  background-color: $milyst-blue;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  &:hover {
    color: white;
    opacity: 0.9;
    text-decoration: none;
  }
}
.signup-btn {
  text-align: center;
  padding: 8px 16px;
  background-color: $milyst-green;
  color: $milyst-purple;
  transition: 0.3s;
  display: inline-block;
  &:hover {
    text-decoration: none;
    color: $milyst-purple;
    background-color: $milyst-hover-green;
  }
}
.back-arrow {
  color: $milyst-purple;
  font-size: 24px;
  &:hover {
    color: $milyst-purple;
    opacity: 0.8;
  }
}
.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}
