// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/mixins";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "lists/index";
@import "lists/show";
body {
  background-color: white;
}
.green {
  color: $milyst-green;
}
.container-sm {
  padding: 15px;
}
.strike-through {
  text-decoration: line-through;
}
.hidden {
  display: none;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
